<div class="row">
	<div class="large-9 large-centered columns">
		
	</div>
</div>

<div ng-controller="CoreController as vm">
	<section class="row">
		<div class="large-8 large-centered columns">
			<form ng-submit="vm.getSearch()">
				<input type="text" ng-model="vm.searchTerm">
			</form>
		</div>
	</section>
	<section class="row">
		<div class="large-9 large-centered columns">
			<div deckgrid source="vm.results" cardTemplate="app/core/views/deckgrid-card.view.html" class="deckgrid"></div>
			<section>
				<button type="button" class="button hollow expanded" ng-if="vm.results.length > 0" ng-click="vm.loadMore()">Load more</button>
			</section>
		</div>
	</section>
</div>

<div class="row footer">
	<div class="large-9 large-centered columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt veniam nam voluptate voluptates error excepturi vitae numquam perspiciatis, consequuntur architecto veritatis, quisquam ex nostrum quae autem nemo mollitia, quod, voluptas!</p>
	</div>
</div>